
@import url("https://fonts.googleapis.com/css?family=Exo:500,600,700|Roboto&amp;display=swap");
html {overflow-x: hidden;}
body {
line-height: 1.6;
font-family: "Roboto", sans-serif;
-webkit-font-smoothing: antialiased;
font-size: 16px;
font-weight: 400;
overflow-x: hidden;}
p{
line-height: 30px;
color: rgb(150, 149, 149)}
h1,h2,h3,h4,h5,h6{
font-weight: 800;}
.header-top-bar{
height: 35px;
background:#343a40;}
.bar {  height: 15px;}
.btn-en{margin-left: auto;}
.information{
font-size: 14px;
margin-top:6px;}
.select-en{
margin-right: 10px;
border: none;
border-radius: 2px;
background:#343a40;
color: white;}
.Login1{
width:70px ;
height:30px ;
border:none ;
border-radius: 8px;
background-color:#0ea2bd;
color: white;
margin-top:-150px ;}
.Login1:hover{
  background: #000000;
}

.nav-link{
  color: black !important;
  
}
.nav-link:hover{
  color: #0ea2bd !important;
}
.increase-image{
  animation: image 2s ease-in-out infinite alternate-reverse both;
}
@keyframes image {
  0% { transform: translateY(10px); }
  100% {transform: translateY(-10px);}
}
.list-inline-item i{
margin-left:2px ;
color:white;}
.banner-image {margin:-10px 0px 0px -500px;}
.title1{ 
margin-top: 40px !important;
font-size:55px ;
font-weight: 700 !important;
color: black;}
.increase-content p{font-size: 16px; 
margin: -12px  0px -5px 0px!important;}
.increase-content button{
width:170px ;
height:55px ;

background-color: #0ea2bd ;
border: none;
border-radius: 18px;
color: white;
font-weight: 550;
margin-bottom: 50px;} 
.increase-content button:hover{
 
  background-color: #000000 ;}
 button a{padding-right:8px ;}
 button i{font-size: 13px;}
button:hover i{
transition: 0.5s;
transform: translateX(8px);}
.Setup-div  ,.Upload-div ,.launch-div {
background-color: white;
border-radius: 10px;
border: 1px solid #ebebeb;
box-shadow:5px 5px 15px 5px rgb(238, 238, 238) ;
margin-top: 20px !important;}
.Setup-div i ,.Upload-div i ,.launch-div i{
margin: 20px 0px 30px 0px;
color: #0ea2bd;
font-size: 40px}
.Setup-div h4 ,.Upload-div h4 ,.launch-div h4{
font-weight: bold;
font-size: 21px;
color: black;
transition: 0.75s;}
.Setup-div:hover h4 ,.Upload-div:hover h4 ,.launch-div:hover h4{color: #0ea2bd; }
.Setup-div:hover ,.Upload-div:hover ,.launch-div:hover {transform: translatey(-5px); box-shadow:5px 5px 15px 5px rgb(214, 214, 214) ; }
.Setup-div p ,.Upload-div p ,.launch-div p{
font-size: 14px;
color: rgb(150, 150, 150);}
.Upload-div button{
width: 125px ;
height: 45px ;

background: #0ea2bd;
border: none;
border-radius: 17px;
text-align: center; 
margin-bottom: 15px;}
.Upload-div button:hover {
 
  background:black;
}

.Market{
max-width: 50rem;
padding-top: 60px !important;}
.Market button{
width:160px ;
height:45px ;

background: #0ea2bd;
border: none;
border-radius: 18px;
color: white;
font-weight: 550;
margin-bottom: 50px;}

.Market button:hover{
  
  background-color: black;}
.Happy{
text-align: center;
max-width: 20rem !important;
height: 180px;
background:#000000;
color: white;}
.Happy i {
margin-top: 20px;
color: rgba(255, 255, 255, 0.829);
font-size: 35px;}
.Happy h3{
font-family: Exo, sans-serif;
text-align: center;
font-size: 40px;
font-weight: 600px;
color:white ;}
.Happy p{
color:#0ea2bd;
text-align: center;
margin: -5px 0px 0px 0px;
font-size: 14px;} 
.Take,.Pricing ,.served{  margin-top: 100px !important;
max-width: 45rem;}
.Take{max-width: 45rem;}
.Product{
max-width: 430px !important;
height: 200px;
border-radius: 20px;
background:white;

 }
.Product:hover{box-shadow:5px 5px 15px 5px #d4d4d4ee ; transform: translateY(-5px); }
.Product img,.Product h4{display: inline;}
.Product h4{font-size: 20px}
.served h2{ font-size: 35px;}
.Pricing div{
width:90px;
height: 5px;
border-radius: 5px;
background:black;
margin-top: 10px;
margin-left: 45%;
box-shadow:5px 5px 10px 5px rgba(255, 255, 255, 0.932) ;}
.Pricing-top{
width: 18rem !important;
background-color:black;
color: white !important;
border-radius: 5px ;}

.Pricing-table{
max-width: 18rem !important;
background: white;
box-shadow:5px 5px 15px 15px #e9ecef;}
.Pricing-table h5,.Pricing-table h2,.Pricing-table p{
text-align: center;
color: rgb(255, 255, 255);
font-weight: 800;}
.Pricing-table li{
line-height: 23px;
color:rgb(150, 149, 149);
list-style: none;}
.Pricing-table li:hover i{
  color: #0ea2bd;
}
.Pricing-table button{
width: 18rem !important;
height:45px ;
bottom: 0px;
background-color: black;
cursor: pointer;
border: none;
color: rgb(255, 255, 255);
font-weight: 480;
border-radius: 5px ;}
.Pricing-table button:hover{
  background-color:  #0ea2bd;
  color: #252525;
}
.Pricing-table i{
color:black;
margin-right: 10px;}
.Trusted {
max-width: 18rem!important;
border-radius: 15px ;}
.Trusted p{
  font-size: 14px;
}
.Trusted i{
display: inline;
font-size: 15px;
color: #e1245352;}
.dokans h6{
font-size: 16px;
font-weight: 500;}
.Copyright{
margin-bottom: 0px !important;
color: rgb(207, 207, 207);}
.Partners img{
width: 100% !important;
height: 45px !important;}
.dokans-content{
color: #000000;
max-width: 30rem !important;}
.foote a{
font-size: 12px;
font-weight: 500;
color:rgb(0, 0, 0);}
.dokans-logo h5{color: #000000;}
.dokans-content h5{font-size: 16px !important;}
.back i{
padding-top: 5px;
font-size: 20px;
width: 32px;
height: 32px ;
border-radius: 13px;
color:rgb(0, 0, 0);}
.carousel-control-prev i{
  margin-right: auto;
}
.carousel-control-next i{
  margin-left: auto;
}
